<h1> My Watchlist Index </h1>

<% @watchlist.each do |watchlist_entry| %>
    <%# <% watchlist_entry.user_id %> 
    <%# <% watchlist_entry.movie_id %>
    <img src= <%=watchlist_entry.movie.poster%> width="120"><br>
    <p>Movie: <%= watchlist_entry.movie.title %></p>
    <p>Rating: <%= watchlist_entry.rating %></p>
    <p>Reivew: <%= watchlist_entry.review %></p><br>
<% end %>
<%= button_to "HOME", user_path, method: :get %>  