<h1> Add Actor Info </h1>
<%= form_for(@actor) do |f| %>

    <%= f.label :name %>
    <%= f.text_field :name %>
<br><br>
    <%= f.label :dob %>
    <%= f.text_field :dob %>
<br><br>
    <%= f.label :bio %>
    <%= f.text_field :bio %>
<br><br>
    <%= f.submit "Add Actor"%>
<% end %>