<h2>LOG-IN PAGE</h2>
<%= flash[:message]%>
<%= flash[:login_message]%>
<%= form_for :auth, url: login_path do |f| %>
    <%= f.label :username %>
    <%= f.text_field :username %>
    <%= f.submit "LOG-IN" %>
<% end %>